html {
    font-size: 24px;
    background-color: grey;
    font-family: old english text mt;
}

form {
    font-size: 1.25rem;
}

h1,
h2,
#arasen,
form {
    color: blue;
}
#inputTxt {
    margin: 25px;
    display: inline-block;
}
#refresh,
#replay {
    font-size: 1rem;
    font-family: old english text mt;
    font-style: italic;
    text-decoration: wavy;
    background-color: gold;
}
#replay {
    padding: 15px;
    padding-left: 20px;
    padding-right: 40px;
    align-content: center;
    display: inline-block;
}
#refresh {
    padding: 8px;
    font-size: 1.05rem;}
#replay:hover,
#refresh:hover {
    color: blue;
    font-style: italic;
    font-weight: 200%;
}

#replay,
#refresh:active {
    color: black;
    font-style: italic;
}

article {
    position: relative;
    color: gray;
    font-size: .70rem !important;
    text-align: left;
    background-color: black;
}

input {
    align-content: center;
    font-size: 1.25rem;
    font-family: old english text mt;
    font-style: italic;
    text-decoration: wavy;
    padding: 15px;
    margin: 25px;
    background-color: gold;
}

p {
    font-size: 2rem;
    color: gold !important;
}

a {
    position: relative;
    color: gray;
    text-align: left;
}