html {
    font-size: 1.5em;
    background-color: grey;
    font-family: old english text mt;
}

h1,
h2,
#arasen {
    color: blue;
}

#refresh {
    font-size: 1rem;
    font-family: old english text mt;
    font-style: italic;
    text-decoration: wavy;
    background-color: gold;
}

#replay {
    font-size: 1.25rem;
    font-family: old english text mt;
    font-style: italic;
    text-decoration: wavy;
    padding: 15px;
    margin: 50px;
    background-color: gold;
}

#replay,
#refresh:hover {
    color: blue;
    font-style: italic;
    font-weight: 200%;
}

#replay,
#refresh:active {
    color: black;
    font-style: italic;
}

article {
    position: relative;
    color: gray;
    font: size .35rem !important;
    text-align: left;
    background-color: black;
}

input {
    align-content: center;
    font-size: 1.25rem;
    font-family: old english text mt;
    font-style: italic;
    text-decoration: wavy;
    padding: 15px;
    margin: 25px;
    background-color: gold;
}

p {
    font-size: 2rem;
    color: gold !important;
}

a {
    position: relative;
    color: gray;
    text-align: left;
}