html {
font-size: 24px;
background-color: grey;
font-family: old english text mt;
}
h1 {
        color: blue;
}
h2 {
    color: blue;
}
#refresh {
    font-size: 1.25rem;
    font-family: old english text mt;
    font-style: italic;
    text-decoration: wavy;
    padding: 15px;
    margin: 25px;
    background-color: gold;
}
article {
    position: relative;
    inline-block;
    padding: 100px;
    color: blue;
    font-size:2 rem;
    text-align: left;
    background-color: black;
}
header {
    text-align:start;
    padding: 25px;
}
input {
    align-content: center;
    font-size: 1.25rem;
    font-family: old english text mt;
    font-style: italic;
    text-decoration: wavy;
    padding: 15px;
    margin: 25px;
    background-color: gold;
}
p {
    font-size: 2rem;
    color: gold !important;
}